:root{
  --background-black: #282828;
  --red:              #cc241d;
  --green:            #98971a;
  --yellow:           #d79921;
  --dark-green:       #458588;
  --purple:           #b16286;
  --aqua-green:       #689d6a;
  --light-grey:       #a89984;
  --grey:             #928374;
  --light-red:        #fb4934;
  --light-green:      #b8bb26;
  --light-yellow:     #fabd2f;
  --light-blue:       #83a598;
  --light-purple:     #d3869b;
  --pale-green:       #8ec07c;
  --off-white:        #ebdbb2;
  --dark-black:       #1d2021;
}

body{
  background:  var(--background-black);
  /* color: #151; /1* default color *1/ */
  color: var(--off-white); /* default color */
  /* max-width: 1050px; */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  font-family: "Lucida Console", Monaco, monospace;
  /* display:inline-block; */
  /* float:center; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: Verdana, Geneva, sans-serif; */
  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
}

/* img{ */
/*   height: 4.5em; */
/*   display: inline; */
/*   float: left; */
/*   padding: 1.25em; */
/*   padding-left: 0; */
/*   max-width: 400px; */
/*   max-height: 225px; */
/* } */


h1{
  color: var(--yellow);
  margin-bottom: .25em;
  margin-top: .25em;
  /* display: inline; */
}

h2{
  color: var(--light-blue);
  margin-bottom: .25em;
  margin-top: .25em;
  /* display: inline; */
}

p, ul, li{
  color: var(--off-white);
  /* display: inline; */
  /* font-size: small; */
}

.article-image{
  display:block;
  margin-left: auto;
  margin-right: auto;
  min-width:30%;
  max-width:100%;
  max-height:30em;
  width:auto;
  height:auto;
  padding-bottom:1em;
  padding-top:1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.progress {
  color: var(--aqua-green);
}

.back{
  display: inline;
  float: right;
}

.blog-publish-date{
  float: right;
  font-size: small;
  vertical-align: middle;
}
a:link, :visited{
  color: var(--aqua-green);
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  background-color: var(--aqua-green);
  color: var(--off-white);
}

button {
  background: none;
  border: none;
  padding: .125em;
  cursor: pointer;
  color: var(--aqua-green);
  font-weight: bold;
  text-decoration: none;
}

button:hover{
  background-color: var(--aqua-green);
  color: var(--off-white);
}

details {
  /* todo: make color name */
  background-color: #444;
  padding: .5em;
}

#banner {
  /* padding-bottom: 2em; */
}

#banner img {
  height: 4.5em;
  /* display: inline; */
  float: left;
  padding-right: 1.5em;
  padding-top: 0.1em;
  max-width: 400px;
  max-height: 225px;
}

#banner h1{
  margin-bottom: 0;
  padding-top: .1em;
}

#sub-header {
  color: var(--light-grey);
  font-size:.9em;
}
#menu {
  float: center;
  font-size: large;
  padding-top:.5em;
  padding-bottom:.6em;
}

#menu a:link,:visited {
  float: center;
  margin-right: .3em;
}
/* # refs by id, . by class */
/*
#buttonZone{
  padding: 1em;
  background-color: var(--grey);
  text-align: center;
}
*/

.sourceCode{
  font-size: larger;
}
